<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="utf-8">
  <title>Ordered Ticket - Confirmation</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<section>
  <header>
    <h1>Movie Order page - Order confirmation </h1>
  </header>
  <table>
    <tr>
      <th colspan="2">
        Your Order Status
      </th>
    </tr>
    <tr>
      <td><b>Client Name </b></td>
      <td th:text="${cname}"></td>
    </tr>
    <tr>
      <td><b>Client IP Address</b></td>
      <td th:text="${address}"></td>
    </tr>
    <tr>
      <td><b>Ticket for Movie</b></td>
      <td th:text="${movie}"></td>
    </tr>
    <tr>
      <td><b>Number of tickets</b></td>
      <td th:text="${numTickets}"></td>
    </tr>
    <tr>
      <td><b>Date created</b></td>
      <td th:text="${dateCreated}"></td>
    </tr>
  </table>
</section>

<section>
  <form th:method="GET" th:action="@{/ticketOrder}">
    <h1>List of all ticket orders for user:</h1>
    <ul th:each="ticketOrder : ${ticketOrders}">
      <li th:text="${ticketOrder.toString()}"></li>
    </ul>

    <h3>Filter by date (from date1 to date2)</h3>
    <label>From: <input type="datetime-local" name="dateFrom" required></label>
    <label>To: <input type="datetime-local" name="dateTo" required></label>
    <input type="submit" value="Filter by dates">
  </form>
</section>
</body>
</html>